

.blog-masthead{
    padding: 10px;
    background-color:#578CA9;
    color: #95DEE3;
}

body{
    background-color:#cddce5;
    color: #004B8D;
}

div{
    padding: 25px;
}

h1{
    padding:10px;
    font-family: 'Georgia';
    font-size: 45px;
    font-weight: bold;
    margin: 0;
    //color: #DC4C46;
}

h2{
    font: 30px Courier;
    font-weight: bold;
    color:#F2552C;
}

h3{
    font: 
}


head{
    //background-color:#034F84;
}

#p1{
    //color: #F6D155;
}

#p2{
    //color: #95DEE3;
}

.nav-lt{
    background-color: seashell;
    color: DarkSlateGrey;
}

.tabby-container{
    background-color:seashell;
    margin: 20px;
    border-width: 5px;
    border-style:solid;
    border-color:#F2552C;
}
