<!Doctype html>
<html>


<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- bootstrap !-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <!-- custom style for website !-->
  <link rel="stylesheet" type="text/css" href="../static/stuff.css"/>
</head>



<body>

  <!-- navbar !-->
  <nav class="nav navbar-toggleable-md nav-lt">
    <a class="nav-link active" href="/search">Search</a>
    <a class="nav-link" href="/profile">Profile</a>
    <a class="nav-link" href="/mkgame">New Game</a>
    <a class="nav-link" href="/logout">Logout</a>
  </nav>


  <!-- main content -->
  {% block body %}{% endblock %}

  <!-- javascript -->
  <script src="../static/stuff.js"></script>
  {% block js %}{% endblock %}
</body>

</html>
