<!Doctype html>
<html>


<head>
  <title>{% block title %}{% endblock %}</title>

  <!-- bootstrap !-->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

  <!-- custom style for website !-->
  <link rel="stylesheet" type="text/css" href="../static/stuff.css"/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>



<body>

  <!-- navbar !-->

  <nav class="navbar navbar-expand-lg sticky-top navbar-light" style="background-color: seashell;">
    <a class="navbar-brand" href="/home">milksquared</a>
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="/profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/mkgame">New Game</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/fndgame">Join Game</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/logout">
      <button class="btn btn-outline-danger my-2 my-sm-0" type="submit">Logout</button>
    </form>
  </nav>


  <!-- main content -->
  {% block body %}{% endblock %}

  <!-- javascript -->
  <script src="../static/stuff.js"></script>
  {% block js %}{% endblock %}
</body>

</html>
