{% extends "base.html" %}

<!--
  REQUISITE JINJA VARIABLES:
    game: should be a dictionary containing information about the game.
          We can sanatize this later, but for now game should have a
          key for every database record (with the associated values)
-->

{% block title %}
{{ game }}
{% endblock %}


{% block body %}
<div class="container">
  <div class="row">

    <!-- The first half of the screen: title + info -->
    <div class="col-7">
      <div class="row">
        <h1>{{ game[title] }}</h1>
      </div>
      <div class="row">
        <h2>{{ game[owner] }}</h2>
      </div>
      <div class="row">
        <h3>{{ game[desc] }}</h3>
      </div>
      <div class="row">
        <p>
          We should put something here.
        </p>
      </div>
    </div>

    <!-- The second half of the screen: tabs -->
    <div class="col-5">

    </div>
    
  </div>
</div>
{% endblock %}
