{% extends "base.html" %}

<!--
game is a dictionary!
game keys:
- gameID
- managerID
- key
- type
- dateStart
- dateEnd
- title
- description
- started
- adminname
- targetID
- targetname (only if targetID exists)
- type (of game)
- maxNumOfPeople
- safeZones
- players
- playersAlive
- playerAlive
-->

{% block title %}
{{ game['title'] }}
{% endblock %}


{% block body %}
<div class="container">
  <div class="row">

    <!-- The first half of the screen: title + info -->
    <div class="col-5">
      <div class="row">
        <h1>{{ game['title'] }}</h1>
      </div>
      <div class="row">
        <!-- <h2> ID: </h2>
        <h2 id = "gameID"> {{game['gameID']}} </h2> -->
        <input type = "hidden" id = "gameID" value = "{{game['gameID']}}"></input>
      </div>
      {% if admin %}
      <div class="row">
        <h2>Key: {{ game['key'] }}</h2>
      </div>
      {% else %}
      <div class="row">
      	<h2>Manager: <a href="/profile/{{game['managerID']}}">{{game['adminname']}}</a></h2>
      </div>
      {% endif %}
      <div class="row">
        <h3>{{ game['description'] }}</h3>
      </div>
      <div class="row">
        <h3>Dates: {{game['dateStart']}} to {{game['dateEnd']}}</h3>
      </div>
    </div>

    <!-- The second half of the screen: tabs -->
    <div class="col-7">

      <!-- where the content in the tabs is declared -->
      <ul class="nav nav-tabs" role="tablist" id="tabs">
        <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#feed">Feed</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#rules">Rules</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#players">Players</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#stats">Stats</a></li>
        {% if playing %}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#play">Player Things</a></li>
        {% endif %}
        {% if admin %}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#admin">Admin Things</a></li>
        {% endif %}
      </ul>

      <div class="tab-content">

        <div id="feed" class="tab-pane fade show active">
          <h3>Feed</h3>
          <br>
          {% for i in feed %}
          <p>{{i}}</p>
          {% endfor %}
        </div>

        <div id="rules" class="tab-pane fade">
          <h3>Rules</h3>
          <br>
          <p>
            Type of game: {{game["type"]}}
          </p>
          <p>
          	Maximum number of players: {{game["maxNumOfPeople"]}}
          </p>
          <p>
          	Safe zones: {{game["safeZones"]}}
          </p>
        </div>

        <div id="players" class="tab-pane fade">
          <h3>Players</h3>
          <br>
          {% if game["started"] == 0 %}
          {% for playerID, player in game["players"] %}
          <p>
            <a href="/profile/{{playerID}}">{{player}}</a>
          </p>
          {% endfor %}
          {% else %}
          <p>Green means the player is still alive; red means the player is dead.</p>
          {% for playerID, player in game["players"] %}
          <p>
          	{% if playerID in game["playersAlive"] %}
            <a id="alive" href="/profile/{{playerID}}">{{player}}</a>
            {% else %}
            <a id="dead" href="/profile/{{playerID}}">{{player}}</a>
            {% endif %}
          </p>
          {% endfor %}
          {% endif %}
        </div>

        <div id="stats" class="tab-pane fade">
          <h3>Stats</h3>
          <br>
          <h5> Player Kills </h5>
          <svg width = "550" height = "400" class = "bar_chart"></svg>
          <br><br>
          <h5> Players Left </h5>
          <svg width = "550" height = "400" class = "pie_chart"></svg>
          <!-- <div class = "chart"></div> -->
          <script>
            makeBar();
          </script>
        </div>

        {% if playing %}
		<div id="play" class="tab-pane fade">
          <h3>Player Things</h3>
          <br>
          {% if game["started"] == 1 %}
          <p>
            Target Name: <a href="/profile/{{game['targetID']}}">{{game["targetname"]}}</a>
          </p>
          {% if game["submitted"] == 0 and game["playerAlive"] %}
          <form action = "/submit_kill/{{game['gameID']}}" method = "POST">
            <button class="btn btn-sml btn-primary btn-block" name="timefordeath" value = "kill"> Mark Kill </button>
            <button class="btn btn-sml btn-primary btn-block" name="timefordeath" value = "death"> Mark Death </button>
          </form>
          {% elif game["submitted"] == 1 %}
          <p>You've already submitted a death; hold on tight for the other person to confirm!</p>
          {% else %}
          <p>Sorry, but you have died. Stay tuned for the winner!</p>
          {% endif %}
          {% elif game["started"] == 0 %}
          <p>The game hasn't started yet; hold on tight!</p>
          <br>
          <p>But if you don't want to play anymore...</p>
          <form action = "/leavegame/{{game['gameID']}}" method = "POST">
            <button class="btn btn-sml btn-primary btn-block">Leave Game</button>
          </form>
          {% else %}
          <p>
            Target Name: <a href="/profile/{{game['targetID']}}">{{game["targetname"]}}</a>
          </p>
          {% endif %}
        </div>
        {% endif %}

        {% if admin %}
        <div id="admin" class="tab-pane fade">
          <h3>Administrative Things</h3>
          <br>
          <form action="/announcements" method="POST">
          	Make an annoucement (it will go to feed):<br>
          	<input type="text" name="announcement" class="form-control"><br><br>
          	<button class="btn btn-sml btn-primary btn-block" type="submit" name="gameID" value="{{game['gameID']}}">Submit</button>
          </form><br>
          {% if game["started"] == 0 or game["started"] == 1 %}
          <p>Change some stuff about the game here!</p>
          <form action="/changegame" method="POST">
          	Start Date (month/day/year):<br>
    		<input type="date" name="startDate" class="form-control" ><br>
    		End Date:<br>
    		<input type="date" name="endDate" class="form-control" ><br>
    		Title: <br>
    		<input type="text" name="title" class="form-control" ><br>
    		Description: <br>
    		<input type="text" name="description" class="form-control"><br>
    		{% if game["started"] == 0 %}
    		Max number of people:<br>
    		<input type="number" name="maxPeople" class="form-control"><br><br>
    		{% endif %}
			Safe zones <br>
    		ex: Cafeteria, library <br>
    		<input type="text" name="safeZones" class="form-control"><br><br>
          	<button class="btn btn-sml btn-primary btn-block" type="submit" name="gameID" value="{{game['gameID']}}">Submit changes</button>
          </form>
          <br>
          {% if game["started"] == 1 %}
          <form action="/checkzedeaths" method="POST">
          	<button class="btn btn-sml btn-primary btn-block" type="submit" name="gameID" value="{{game['gameID']}}">Check unconfirmed deaths!</button>
          </form>
          <br>
          {% endif %}
          {% if game["type"] == "Assassins - Rapid Fire" and game["started"] == 1 %}
          <form action="/regeneratetargets" method="POST">
            <button class="btn btn-sml btn-primary btn-block" type="submit" name="gameID" value="{{game['gameID']}}">Regenerate targets!</button>
          </form>
          <br>
          {% endif %}
          {% if game["started"] == 0 %}
          <form action="/startgame" method="POST">
            <button class="btn btn-sml btn-primary btn-block" type="submit" name="gameID" value="{{game['gameID']}}">Start the game!</button>
          </form>
          {% elif game["started"] == 1 %}
          <form action="/endgame/{{game['gameID']}}" method="POST">
          	<button class="btn btn-sml btn-primary btn-block" type="submit" name="gameID" value="{{game['gameID']}}">End the game!</button>
          </form>
          {% endif %}
          {% else %}
          <p>The game has ended; good job hosting!</p>
          {% endif %}
        </div>
        {% endif %}

      </div>

    </div>

  </div>
</div>
{% endblock %}


{% block js %}
<script>
  $('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
  })

  $('#tabs a[href="#rules"]').tab('show')
  $('#tabs a[href="#players"]').tab('show')
  $('#tabs a[href="#stats"]').tab('show')
  $('#tabs a[href="#play"]').tab('show')
  $('#tabs a[href="#admin"]').tab('show')
  $('#tabs a[href="#feed"]').tab('show')

</script>
{% endblock %}
