{% extends "base.html" %}

<!--
  REQUISITE JINJA VARIABLES:
    game: should be a dictionary containing information about the game.
          We can sanatize this later, but for now game should have a
          key for every database record (with the associated values)
-->

{% block title %}
Welcome to milksquared!
{% endblock %}


{% block body %}
<div><p>
  Welcome to milksquared! A website for all your assassin-y needs! If you've got a group of friends who want to play then this is just the place for you.
  <img src = "https://res.cloudinary.com/sfp/image/upload/oth/FunimationStoreFront/1755861/Latvian/1755861_Latvian_ShowThumbnail_da138cba-a749-e811-8175-020165574d09.jpg">
  Read more about the rules <a href = "https://www.wikihow.com/Play-Assassin" target="_blank"> here </a>
</p></div>
{% endblock %}
