{% extends "base.html" %}

{% block title %}
Welcome to milksquared!
{% endblock %}


{% block body %}
<div><p>
  Welcome to milksquared! A website for all your assassin-y needs! If you've got a group of friends who want to play then this is just the place for you.</p>
  
  <img src = "https://res.cloudinary.com/sfp/image/upload/oth/FunimationStoreFront/1755861/Latvian/1755861_Latvian_ShowThumbnail_da138cba-a749-e811-8175-020165574d09.jpg">

  <br><br>

  <p>First time playing Assassin? Read more about the rules of Assassin <a href = "https://www.wikihow.com/Play-Assassin" target="_blank">here</a>.</p>
  <p>Have fun with our website!</p>
</div>
{% endblock %}
