{% extends "base.html" %}

{% block title %}
{{name}}
{% endblock %}

{% block body %}

<div class="container">
  <div class="row">

    <!-- The first half of the screen: title + info -->
    <div class="col-5">
      <div class="row">
        <h1>{{ name }}</h1>
      </div>
      <div class="row">
        <h2>Username: {{username}}</h2>
      </div>
      <div class="row">
        <img src = "../static/pfps/{{userID}}.{{extension}}" height = "300" width = "300" alt = "pfp">
        <form action = "/upload" method = "POST" enctype = "multipart/form-data">
        <input id = "upload" type = "file" name = "file" class="btn">
        <p>PFP supports pdf, png, jpg, jpeg, and gif</p>
        <input id = "submit" type = "submit" class = "btn btn-primary">
      </form>
      </div>
    </div>

    <!-- The second half of the screen: tabs -->
    <div class="col-7">

      <!-- where the content in the tabs is declared -->
      <ul class="nav nav-tabs" role="tablist" id="tabs">
        <li class="nav-item active"><a class="nav-link" data-toggle="tab" href="#playing">Games Playing</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#managing">Games Managing</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#past">Past Games</a></li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#stats">Stats</a></li>
        {% if is_own %}
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#user">Account</a></li>
        {% endif %}
      </ul>

      <div class="tab-content">

        <div id="playing" class="tab-pane fade show active">
          <h3>Games Playing</h3>
          <ul>
            {% for game, gameID in playing %}
            <li><a href = {{url_for('game', idd = gameID)}}>{{game}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div id="managing" class="tab-pane fade">
          <h3>Games Managing</h3>
          <ul>
            {% for game,gameID in games %}
            <li><a href = {{url_for('game', idd = gameID)}}>{{game}}</a></li>
            {% endfor %}
          </ul>
        </div>

        <div id="past" class="tab-pane fade">
          <h3>Past Games</h3>
          <p>
            I don't actually think we have anything for past games yet but
            this could be kind of cool.
          </p>
        </div>

        <div id="stats" class="tab-pane fade">
          <h3>Stats</h3>
          <p>
            stat stuff we'll do later
          </p>
        </div>

        {% if is_own %}
        <div id="user" class="tab-pane fade">
          <h3>Player Things</h3>
          <p>
            account stuff user can do
          </p>
        </div>
        {% endif %}

      </div>

    </div>

  </div>
</div>
{% endblock %}


{% block js %}
<script>
  $('#myTab a').on('click', function (e) {
  e.preventDefault()
  $(this).tab('show')
  })

  $('#tabs a[href="#managing"]').tab('show')
  $('#tabs a[href="#past"]').tab('show')
  $('#tabs a[href="#stats"]').tab('show')
  $('#tabs a[href="#user"]').tab('show')
  $('#tabs a[href="#playing"]').tab('show')

</script>
{% endblock %}
