<! DOCTYPE HTML>
<html>
  <head>

    <!-- bootstrap !-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

    <!-- custom style for website !-->
    <link rel="stylesheet" href="/static/style.css">

    <title>  Login  </title>
  </head>

  <body>
<div class="container-1">
    <form class="signin" method="POST" action ="/login">

      Name:<br>
      <input type="text" name="name" required><br><br>
      
      Username:<br>
      <input type="text" name="username" required><br><br>

      Password: <br>
      <input id="password" type="password" name="password" required><br><br>
      <p id="responsePass" class="response"></p>

      Confirm Password: <br>
      <input id="confPassw" type="confPassword" name="confPassword" required><br><br>
      <p id="responsePass2" class="response"></p>
      <input type="submit" value="submit" class = "button2"> <br> <br>
    </form>

    <form method="GET" action="/login">
      Already have an account?
      <input  type="submit" value="Login" class="button1">
    </form>

    <script src="static/stuff.js"></script>

</div>
</center>
</body>
