{% extends "base.html" %}

{% block title %}
Register
{% endblock %}

{% block body %}
<!--
<div class="container-1">
    <form class="signin" method="POST" action ="/login">

      Name:<br>
      <input type="text" name="name" required><br><br>

      Username:<br>
      <input type="text" name="username" required><br><br>

      Password: <br>
      <input id="password" type="text" name="password" required><br><br>
      <p id="responsePass" class="response"></p>

      Confirm Password: <br>
      <input id="confPassw" type="text" name="confPassword" required><br><br>
      <p id="responsePass2" class="response"></p>
      <input type="submit" value="submit" class = "button2"> <br> <br>
    </form>

    <form method="GET" action="/login">
      Already have an account?
      <input  type="submit" value="Login" class="button1">
    </form>

    <script src="static/stuff.js"></script>

</div>
-->
<!-- </center> -->


<div class="container-1">
  {% set messages = get_flashed_messages() %}
  <form method = "POST" action="/user_creation" class="form-signin">
    <h2 class="form-signin-heading"> Register. </h2>
    <label for="inputEmail" class="sr-only">Full name</label>
    <input type="name" id="inputEmail" name="name" class="form-control is-valid" placeholder="Full name" required autofocus>

    {% if messages[0] == "Username already exists." %}
    <label for="inputEmail" class="sr-only is-invalid">Username</label>
    <input type="user" id="inputEmail" name="username" class="form-control is-invalid" placeholder="Username" required autofocus>
    <h3 id="passwordHelp" class="text-danger">
      Username already exists.
    </h3>

    {% else %}
    <label for="inputEmail" class="sr-only">Username</label>
    <input type="user" id="inputEmail" name="username" class="form-control is-valid" placeholder="Username" required autofocus>
    {% endif %}

    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" id="inputPassword" name = "password" class="form-control" placeholder="Password" required>

    {% if messages[0] == "Passwords do not match." %}
    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputPasswordconfirm" name = "confirm" class="form-control is-invalid" placeholder="Re-type password" required>
    <h3 id="passwordHelp" class="text-danger">
      Passwords must match.
    </h3>

    {% else %}
    <label for="inputPassword" class="sr-only">Confirm Password</label>
    <input type="password" id="inputPasswordconfirm" name = "confirm" class="form-control" placeholder="re-type password" required>
    {% endif %}

    <button class="btn btn-sml btn-warning btn-block" type="submit" name="submitType" value="Register">Register</button>
  </form>
</div>
{% endblock %}
