{% extends "base.html" %}

{% block title %}
Rules
{% endblock %}

{% block body %}
<div class="container-1">
  <!-- <div class="form-group" method="POST" action="/game_creation"> -->
  <form method = "POST" action="/rule_creation">

    Max number of people:<br>
    <input type="text" name="maxPeople" required><br><br>

    Safe zones <br>
    ex: Cafeteria, library <br>
    <input type="text" name="safeZones" required><br><br>

    <button class="btn btn-sml btn-warning btn-block" type="submit" name="submitType" value="Submit">Submit</button>
  </form>

  <form method = "POST" action="/rule_creation">
    <button class="btn btn-sml btn-warning btn-block" type="submit" name="submitType" value="Submit">I don't want to create this game anymore!</button>
  </form>

</div>
{% endblock %}

{% block js %}
<script type="text/javascript" src="Scripts/jquery-2.1.1.min.js"></script>
<script type="text/javascript" src="Scripts/bootstrap.min.js"></script>
{% endblock %}
