<!Doctype html>
<head>

  <!-- bootstrap !-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous"/>

  <!-- custom style for website !-->
  <link rel="stylesheet" type="text/css" href="../static/stuff.css"/>
  
  <title>Profile</title>

  <div class="blog-masthead">
    <h1>milksquared</h1>
    <div id="userinfo">
      <h2>Profile</h2>
      Username:
      <br> other stuff... </br>
    </div>
    
  </div>
</head>
<body>
  <script src="../static/stuff.js"></script>
</body>
</html>
